@import "../variables/display";

@each $dtype in $displayTypes {
  .d-#{$dtype} {
    display: $dtype;
  }
}

@each $jctype in $justifyContentTypes {
    .justify-#{$jctype} {
        justify-content: $jctype;
    }
}

@each $aitype in $alignItemsTypes {
  .align-#{$aitype} {
    align-items: $aitype;
  }
}

@each $fwrap in $flexWrapTypes {
  .flex-#{$fwrap} {
    flex-wrap: $fwrap;
  }
}

@each $position in $positionTypes {
  .position-#{$position} {
    position: $position;
  }
}