@import "../variables/display";

@each $dtype in $displayTypes {
  .d-#{$dtype} {
    display: $dtype;
  }
}

@each $jctype in $justifyContentTypes {
    .justify-#{$jctype} {
        justify-content: $jctype;
    }
}

@each $aitype in $alignItemsTypes {
  .align-#{$aitype} {
    align-items: $aitype;
  }
}


@each $fwrap in $flexWrapTypes {
  .flex-#{$fwrap} {
    flex-wrap: $fwrap;
  }
}

@each $fdir in $flexDirectionTypes {
  .flex-#{$fdir} {
    flex-direction: $fdir;
  }
}

@each $position in $positionTypes {
  .position-#{$position} {
    position: $position;
  }
}

@each $br-key, $brtype in $borderRadiusTypes {
  .rounded-#{$br-key} {
    border-radius: $brtype;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}
