.cell {
  aspect-ratio: 1/1;

  &__figure-logo {
    width: 70%;
    height: 70%;
    user-select: none;
  }

  &__step-indicator {
    height: 20%;
    width: 20%;
    max-height: 25px;
    max-width: 25px;
  }

  &__label {
    &--number {
      top: 3px;
      left: 3px;
    }
    &--letter {
      bottom: 3px;
      right: 3px;
    }
  }
}