.slide-out-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
    &.slide-out-pane--active {
        transform: translateX(100%);
    }
}