.slide-out-pane {
    top: 0;
    position: fixed;
    width: 30%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0);
    transition: all 0.3s ease-in-out;
    &--left {
        left: 0;
        transform: translateX(-100%);

        &.slide-out-pane--active {
            transform: translateX(0);
        }
    }
    &--right {
        right: 0;
        transform: translateX(100%);

        &.slide-out-pane--active {
            transform: translateX(0);
        }
    }
}