$colorChessBlack: #28316b;
$colorChessWhite: #e0cc6b;
$colorAvailable: #a52a2a;
$colorSelected:  #22c022;

$chessColors: (
        "color-black": $colorChessBlack,
        "color-white": $colorChessWhite,
        "color-available": $colorAvailable,
        "color-selected": $colorSelected,
)